@import './_b.less';
	
	
body,
html,
#app,
.layout,
.layout-container {
	height: 100%;
}
body {
	background: #f1f1f1;
}
.f-s {
    display: -webkit-flex;
    -webkit-justify-content: flex-start;
    -webkit-align-items: center;
}
.f-e {
    display: -webkit-flex;
    -webkit-justify-content: flex-end;
    -webkit-align-items: center;
}
.s-b {
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
}
.s-a {
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    -webkit-align-items: center;
}
.c-c {
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}
.center {
	text-align: center;
}
.main-view-container {
	padding: 20px;
}
.ball {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	font-size: 13px;
	margin-right: 2px;
	text-align: center;
	line-height: 20px;
}
.red-ball {
	background: -webkit-radial-gradient(ellipse,white,red);
}
.green-ball {
	background: -webkit-radial-gradient(ellipse,white,green);
}
.blue-ball {
	background: -webkit-radial-gradient(ellipse,white,blue);
}
.el-pagination {
	margin-top: 10px;
}
.red {
	color: red;
}
.green {
	color: green;
}